In [26]:
import pandas as pd
import sys,os
import logging

In [24]:
path = r"C:\Users\bunyo\OneDrive\Desktop\git_project\4_week_project\logs\data_loading.log"

In [25]:
logging.basicConfig(
        filename=path,
        level=logging.INFO,
        format="%(asctime)s - %(levelname)s - %(name)s - %(message)s"
    )

NameError: name 'logging' is not defined

In [ ]:
# sys.path.append(r"C:\Users\bunyo\OneDrive\Desktop\git_project\4_week_project\Source")
sys.path.append(r"C:\Users\bunyo\OneDrive\Desktop\git_project\4_week_project")

In [ ]:
from Source.preprocessing import Preprocessing

In [20]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\git_project\4_week_project\Data\raw_data\cwur_2025_rankings.csv")

In [22]:
pre = Preprocessing(df)

df_clean = (
    pre.dropColumn('World Rank')    
       .fillMissingValues()
       .encoding()
       .scaling()
       .logTransformation()
       .getDataset()
)


logger.info(f"Preprocessing tugadi. Shape: {df_clean.shape}")

In [23]:
df_clean

,Top Percent,Institution,Location,National Rank,Education Rank,Employability Rank,Faculty Rank,Research Rank,Score
0,0.555278,0.236118,0.913978,0.000000,0.002242,0.000965,0.003745,0.000518,4.615121
1,0.611306,0.401201,0.913978,0.002899,0.567265,0.128378,0.393258,0.058489,4.582925
2,0.666833,0.619310,0.913978,0.005797,0.004484,0.607143,0.715356,0.655797,4.566429
3,0.722361,0.715358,0.956989,0.000000,0.199552,0.513514,0.756554,0.230849,4.554929
4,0.777889,0.835918,0.956989,0.002899,0.941704,0.526062,0.962547,0.770704,4.546481
...,...,...,...,...,...,...,...,...,...
1995,0.552276,0.261131,0.139785,0.994203,0.000000,0.000000,0.000000,0.530538,4.207673
1996,0.552776,0.221111,0.139785,0.997101,0.000000,0.000000,0.000000,0.531573,4.207673
1997,0.553277,0.055028,0.139785,1.000000,0.000000,0.000000,0.000000,0.532609,4.207673
1998,0.553777,0.167084,0.086022,0.150725,0.000000,0.000000,0.000000,0.533126,4.207673
1999,0.555778,0.047524,0.903226,0.147826,0.000000,0.144788,0.000000,0.534161,4.207673